<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="io-drtti-eve-WEB-logger" strict="true" status="INFO" monitorInternal="5">

    <Properties>
        <Property name="pattern.default">%d %-4r [%t] %-5p %c %x - %m%n</Property>
        <Property name="logs.wildfly">$${env:JBOSS_HOME}/standalone/log</Property>
        <Property name="logs.filename">io-drtti-WEB-eve.log</Property>
    </Properties>

    <Appenders>
        <Appender type="Console" name="CONSOLE">
            <Layout type="PatternLayout">
                <Pattern>${pattern.default}</Pattern>
            </Layout>
        </Appender>

        <Appender type="File" name="LOGS_WILDFLY" fileName="${logs.wildfly}/${logs.filename}">
            <Layout type="PatternLayout">
                <Pattern>${pattern.default}</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOGS_WILDFLY"/>
        </Root>
    </Loggers>

</Configuration>
